## Understand the datasets 
To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2



### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/0g7kbanvn5l2gt2qu38ukooatnjqyuys.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t




### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):
1. __CENSUS_DATA:__ https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv
1. __CHICAGO_PUBLIC_SCHOOLS__ https://ibm.box.com/shared/static/0g7kbanvn5l2gt2qu38ukooatnjqyuys.csv
1. __CHICAGO_CRIME_DATA:__ https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

__NOTE:__ Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables
To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:
1. __CENSUS_DATA__
1. __CHICAGO_PUBLIC_SCHOOLS__
1. __CHICAGO_CRIME_DATA__

In [1]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in Part III of the first lab in the course. From the __uri__ field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://ibm.box.com/shared/static/hzhkvdyinpupm2wfx49lkr71q9swbpec.jpg">

In [2]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://wwn19097:m4%2Bxdv9zk9qvxd4p@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: wwn19097@BLUDB'

In [35]:
# Rows in Census Data (Socieconimic Indicators)
%sql select count(*) as no_of_rows from CENSUS_DATA

 * ibm_db_sa://wwn19097:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

In [39]:
# Rows in Public Schools
%sql select count(*) as no_of_rows from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://wwn19097:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('566'),)]

In [38]:
# Rows in Crime Data
%sql select count(*) as no_of_rows from CHICAGO_CRIME_DATA

 * ibm_db_sa://wwn19097:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [40]:
%%sql
select community_area_name, avg(college_enrollment) as avg_enrollment from chicago_public_schools
  group by community_area_name 
  limit 10

 * ibm_db_sa://wwn19097:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', Decimal('858.000000')),
 ('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('ARMOUR SQUARE', Decimal('486.000000')),
 ('ASHBURN', Decimal('810.375000')),
 ('AUBURN GRESHAM', Decimal('417.500000')),
 ('AUSTIN', Decimal('475.347826')),
 ('AVALON PARK', Decimal('507.333333')),
 ('AVONDALE', Decimal('910.000000')),
 ('BELMONT CRAGIN', Decimal('1198.833333')),
 ('BEVERLY', Decimal('409.000000'))]

In [17]:
%%sql 
select count(*) as healthy_schools from chicago_public_schools
where healthy_school_certified='Yes'

 * ibm_db_sa://wwn19097:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('16'),)]

In [20]:
%%sql 
select count(*) as no_of_gas_station_crime from chicago_crime_data
where location_description='GAS STATION'

 * ibm_db_sa://wwn19097:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('6'),)]

In [41]:
%%sql
 select community_area_name , count(*) as no_of_schools from chicago_public_schools
  group by community_area_name 
  order by count(*) desc  
  limit 10

 * ibm_db_sa://wwn19097:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('AUSTIN', Decimal('23')),
 ('SOUTH LAWNDALE', Decimal('22')),
 ('WEST TOWN', Decimal('20')),
 ('ENGLEWOOD', Decimal('17')),
 ('NEAR WEST SIDE', Decimal('16')),
 ('NORTH LAWNDALE', Decimal('16')),
 ('EAST GARFIELD PARK', Decimal('13')),
 ('ROSELAND', Decimal('13')),
 ('NEW CITY', Decimal('13')),
 ('HUMBOLDT PARK', Decimal('13'))]

In [26]:
%%sql 
select count(*) as no_of_motor_vehicle_theft from chicago_crime_data
where primary_type='MOTOR VEHICLE THEFT'

 * ibm_db_sa://wwn19097:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('24'),)]

In [34]:
%%sql
select min(cs.average_student_attendance) as minimum_attendance ,cs.community_area_name,cc.hardship_index
from chicago_public_schools as cs inner join census_data as cc on cs.community_area_number=cc.community_area_number
where cc.hardship_index=96
group by cs.community_area_name,cc.hardship_index

 * ibm_db_sa://wwn19097:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('86.10%', 'SOUTH LAWNDALE', 96)]